body {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
}

a {
    text-decoration: none;
}

section, header {
    width: 800px;
    margin: auto;
}

header {
    margin-top: 20px;
    padding: 10px 20px 10px 120px;
    background-color: red;
}

/**
*   IDENTITE
*/

#identity {
    position: fixed;
    width: 310px;
    height: 250px;/*temporaire*/
    top: 92px;
    background-color: #758AA8;
    margin-left: 50px;
    font-size: 0.9em;
    padding: 10px;
}

#photo {
    width: 100px;
    height: 125px;
    border: solid 1px black;
    margin-right: 10px;
}

#perso {
    margin-top: 20px;
}

/**
*       NAVIGATION
*/

nav ul, .flottant ul {
    list-style: none;
    width: auto;
    margin: 0;
    padding: 0;
}

nav ul {
    width: 780px;
    margin: auto;
    margin-top: 20px;
    margin-left: 380px;
    background-color: red;
    border: 1px solid black;

}

nav ul li {
    display: inline-block;
    border-right: 1px solid black;
    height: 30px;
    padding: 10px 10px 0 10px;
    cursor: pointer;
}

/**
*       MAIN
*/

#main {
    margin-top: 30px;
    padding: 0 20px 0 160px;
    text-align: justify;
    background-color: #808080;
}

/**
*       FOOTER
*/

footer {
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    font-size: 0.9em;
}

.flottant {
    display: inline-block;
}